/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner {
    border-radius: 5px;
    background: url("https://1.cdnkic.com/sites/default/files/styles/1170_x_auto/public/hub/images/english-eng-test-hero.jpg") no-repeat;
    background-clip: content-box;
    height: 390px;
}

.app-test {
    padding-top: 50px;
}


.a-loading {
    z-index: 100;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 600ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: loading;
    -moz-animation-duration: 600ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: loading;
    -ms-animation-duration: 600ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: loading;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes loading {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes loading {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes loading {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}